body {
  background-color: lightgray;
}

.card {
  background-color: #ffffff;
  width: 40%;
  border: none;
  display: flex;
  border-radius: 6px;
  flex-direction: column;
  margin: 150px auto;
  position: relative;
  padding: 10px 20px;
  min-height: 400px;
}

.title {
  background-color: #E8ECEC;
  color: #2A2F35;
  letter-spacing: 2px;
  text-align: center;
  border-radius: 10px;
  font-size: 30px;
  margin: 0;
  padding: 6px;
}

.row {
  display: flex;
  margin: 20px auto;
}

.table {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.button-positive {
  background-color:#189760;
  border: 1px solid #189760;;
  cursor: pointer;
  width: 100px;
  color: white;
  height: 30px;
  border-radius: 6px;
  margin-left: 10px;
  outline: 0;
}

.button-positive:hover {
  background-color: #ffffff;
  color: #189760;
  border: 1px solid #189760;
}

.input-value {
  border-radius: 6px;
  height: 25px;
  width: 200px;
  margin-left: 60px;
}

.button-negative {
  background-color:#FD4054;
  color: #ffffff;
  border: 1px solid #FD4054;
  width: 100px;
  height: 30px;
  border-radius: 6px;
  cursor: pointer;
  outline: 0;
}

.button-row {
  margin-top: 20px;
  margin-inline-start: auto;
}

.button-negative:hover {
  background-color: white;
  border: 1px solid #FD4054;
  color: #FD4054;
  cursor: pointer;
}

.checkmark-button {
  height: 20px;
  width: 20px;
  border:1px solid green;
  color: white;
  background-color: white;
  border-radius: 50px;
  outline: 0;
  margin-right: 10px;
  cursor: pointer;
}

.full {
  background-color: green;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  border: none;
}

.button-remove {
  background-color:#FD4054;
  color: #ffffff;
  border: 1px solid #FD4054;
  width: 20px;
  height: 20px;
  border-radius: 6px;
  margin-left: 10px;
  cursor: pointer;
  margin-bottom: 5px;
  outline: 0;
}

.button-remove:hover {
  background-color: white;
  border: 1px solid #FD4054;
  color: #FD4054;
  cursor: pointer;
}

.to-do-list {
  display: flex;
  flex-direction: row;
}

.deletion {
  text-decoration: line-through;
  text-align: center;
}

tr {
  font-size: 22px; 
  width: 100%;
  border-bottom: 1px solid lightgray;
  height: 50px;
}

 
